<section>
  <div class="row1">

    <h1>Dashboard</h1>
    <p>Hi <%- user.name %>  </p>

    <p>We love showing you random pokemons!</p>
    <div class="pokemon"></div>

    <a href="/users/logout">Logout</a>

    <form method="post" action="/users/delete">
      <input type="submit" value="Delete account"></input>
    </form>

  </div>
</section>