
<body>
    <main>
        
        <div class="container">
            <div class="row1">
                <h1>Welcome</h1>
                <p>Create an account or login</p>
                <a href="/users/register">Register</a>
                <a href="/users/login">Login</a>
            </div>
        </div>
    </main>
